extends ../layouts/admin.layout.pug    
block content
    h2.page-title Categories
    a.btn.btn-primary(href="/admin/categories/add-category") Add a new category
    br
    table.table.table-striped
        thead
            tr
                th Category
                th Edit
                th Delete
        tbody
          each category in categories
              tr
                td= category.title
                td
                    a(href="/admin/categories/edit-category/"+category.id) Edit
                td
                    a(href="/admin/categories/delete-category/"+category._id, class="confirmDelete") Delete  
    block footer
    
    