extends ../layouts/admin.layout.pug    
block content
    h2.page-title Products
    a.btn.btn-primary(href="/admin/products/add-product") Add a new product
    br
    if count > 0    
        table.table.table-striped
            thead
                tr
                    th Product
                    th Price
                    th Category
                    th Product image
                    th Edit
                    th Delete
            tbody
                each product in products
                    tr
                        td= product.title
                        td= parseFloat(product.price).toFixed(2)
                        td= product.category
                        if product.image === ""
                            td
                                img#image(src="/images/noimage.png")
                        else
                            td
                                img#image(src="/product_images/"+product._id)
                        td
                            a(href="/admin/products/edit-product/"+products.id) Edit
                        td
                            a(href="/admin/products/delete-product/"+product._id, class="confirmDelete") Delete  
    else
        h3.text-center There are no products.
    block footer
    
    