html
  head
    title Shopping Pro
    link(rel="stylesheet", href="/style/custom.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js")
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='/') Shopping Pro
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/admin/page/pages') Pages
          li.nav-item
            a.nav-link(href='/admin/categories') Categories
    .container.pt-5
    block content
    
    hr
    p.text-center &COPY; Shopping Pro
    script(src="/js/main.js")
        block footer
    
    