html
  head
    title Shopping Pro
    link(rel="stylesheet", href="/style/custom.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='#') Shopping Pro
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul(class="navbar-nav mr-auto")
          each page in pages
            if page.slug == "home"
              li(class="nav-item")
                a.nav-link(href="/")= page.title
            else
              li(class="nav-item")
              a.nav-link(href= page.slug)= page.title
    .container.pt-5
    block content
    hr
    p.text-center &COPY; Shopping Pro
        block footer
        