body {
    padding-top: 2rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
  }

#imgPreview{
  margin: 20px;
}

#image{
  width: 100px;
  height: 100px;
}

#noimage{
  margin: 20px;
  width: 100px;
  height: 100px;
}