extends ../layouts/user.layout.pug
block content
    
    h1.page-header= product.title
    hr
    .row
        div(class=".col-xs-12 col-md-5")
            img.spi(src="/product_images/"+product._id+"/"+product.image)
            br
        div(class=".col-xs-12 col-md-7")
            p= product.desc
            p= parseFloat(product.price).toFixed(2)+"$"
            if loggedIn
                p
                    a(href="/cart/add/"+product.slug) Add to cart
            else
                p You must to be logged in to purchase items
        div(class="col-xs-12")
            ul.gallery
                each image in galleryImages
                    if image != 'thumbs'
                        li
                            a(data-fancybox="gallery", href="/product_images/"+product.id+"/gallery/"+image)
                                img(src="/product_images/"+product._id+"/gallery/thumbs/"+image) 

          
block footer
   

